.app-logo {
  width: 30%;
  margin-bottom: 10px;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.site-layout {
  margin-left: 200px;
  background: white;
}

.site-content {
  margin: 50px;
  overflow: initial;
}

.logo {
  height: 52px;
  margin: 16px;
  display: flex;
  justify-content: flex-start;
}

.logo-text {
  color: white;
  font-weight: 500;
  line-height: 1.2;
  margin: 20px 0 0 10px;
}

.logo-img {
  height: 100%;
  pointer-events: none;
}

.page-header {
  text-align: center;
}

.data-loader {
  display: block;
  text-align: center;
}

.polls-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.poll-card {
  width: 240px;
  margin: 10px;
}

.poll-description {
  font-size: 16px;
}

.poll-card-details {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.poll-card-detail-icon {
  margin-right: 5px;
}

.start-button {
  margin-top: 20px;
  padding: 0 30px;
}

.main-page-wrap {
  display: flex;
}

.main-page-left {
  text-align: center;
  width: 100%;
}

.user-picker {
  width: 100%;
}

.question-page-wrapper {
  width: 80%;
  margin: 0 auto;
}

.question {
  background: #edeef0;
  padding: 25px 40px;
  margin: 70px 0 30px;
  text-align: center;
  border: 1px solid #e7e8ec;
  border-radius: 10px;
}

.answers-wrapper {
  display: flex;
  justify-content: space-between;
}

.answer {
  background: #edeef0;
  border: 1px solid #e7e8ec;
  border-radius: 10px;
  padding: 45px 40px;
  text-align: center;
  width: 47%;
}

.answer-user {
  width: 100%;
  max-width: 210px;
  display: block;
  margin: 0 auto;
}

.question-result-img {
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 300px;
}

.profile-wrapper{
  display: flex;
  justify-content: space-between;
}

.profile-block{
  width: 47%;
}

.info-wrapper{
  background: #edeef0;
  padding: 15px;
  margin: 20px 0 10px;
  border: 1px solid #e7e8ec;
  border-radius: 10px;
  display: flex;
}

.info-img{
  margin-right: 10px;
  width: 100px;
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  margin: auto;
  display: block;
  margin-bottom: 40px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius:10px;
  box-shadow:0px 0px 5px 5px gainsboro;
  background: #d83935; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d83935,
    #58ba65
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d83935,
    #58ba65
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 7.5px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: #d83935;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d83935 ', endColorstr='#f29142 ', GradientType=1 );
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  max-width: 80px;
  position: relative;
  bottom: 6px;
  background-color: white;
  cursor: -webkit-grab;
  transition: border 1000ms ease;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  transition: border 1000ms ease;
}

.range.purple::-webkit-slider-thumb {
  border-color: rgb(152, 68, 183);
}

.range.purple::-moz-range-thumb {
  border-color: rgb(152, 68, 183);
}

input[type="range"]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type="range"]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

.range::before{
  content: '😡';
  margin-right: 10px;
  font-size: 20px;
}

.range::after{
  content: '🙂';
  margin-left: 10px;
  font-size: 20px;
}