.App {
  text-align: center;
}

.logo {
  height: 52px;
  margin: 16px;
  display: flex;
  justify-content: flex-start;
}

.logo-text{
  color: white;
  font-weight: 500;
  line-height: 1.2;
  margin: 20px 0 0 10px;
}

.logo-img {
  height: 100%;
  pointer-events: none;
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.site-layout .site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }

.page-header{
  text-align: center;
}

.poll-description{
  font-size: 16px;
}

.start-button{
  margin-top: 20px;
  padding: 0 30px;
}
